@import "variables.scss";

// ------------- DOCUMENT-----------//

body{

    margin: 0;
	padding: 5px;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    overflow-x: hidden;

        img {
            width: auto;
            height: 200px;
            display: flex;
            margin: 0 auto;
            border-radius: 5%;
        }
    
        h2{
            text-align: center;
        }

        section{
            
            padding: 20px;
            padding-bottom: 205px;
            border-radius: 5px;
            border: 1px solid $darkgrey;
            margin: 5px;
            background: $lightgrey;
            color: $emeraude;
            position: relative;
          
            section>header{
                font-family: 'Koh Santepheap', cursive;
                color: $emeraude;
                font-weight: bolder;
            }

        }

        label{
            margin: 15px;
            font-size: 1.2em;
            
        }
    
        input[type=search] {
            height: 35px;
            width: 100%;
            border: 1px $lightgrey solid;
            border-radius: 2px;
            margin: 2px;
            &:hover {
                background-color: $lightgrey;
                }
        }

        button {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 1rem;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px 10px 20px;
            margin: 2px;
            width: 300px;
        }
}


// ------------- ELEMENT PRECIS ----------------//

.idBook{
    font-style: italic;
    font-size: small;
}

.description{
    text-align: justify;
}

.newBook{
    text-align: center;
}

.btnSearchBooks, .btnNewBook{
    @extend button;
    background-color: $turquoise;   
}



.btnCancel{
    @extend button;
    background-color: $magenta;
}

.newBook, .form, .searchResult, .pochlist{
    border-top: $lightgrey solid 2px;
    margin-top: 10px;
}

.form, .searchResult{
    display: none;
}

.iconBookmark, .iconTrash{
    display: block;
    font-size: 28px;
    color: $turquoise; 
    position: relative;
    bottom: 20%;
    left: 92%;

    &:active{
        color: $violet;
    }
}

.imgBook{
    @extend img;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

//----------RESPONSIVE---------/


.booksList, .bookshelf{

    @media only screen and (min-width:$tablet) and (max-width: $largeDesktop){ 
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        
    }
    
}



// form{
//     @media only screen and (min-width:$tablet) and (max-width: $largeDesktop) { 
//         align-items: center;
//         justify-content: center;
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         grid-gap: 20px;
//     }

// } 

