// COULEUR //
$turquoise : #22b1a3;
$emeraude : #24615B;
$darkgrey : #545454;
$lightgrey : rgb(233, 233, 233);
$violet :#52547A;


// RESPONSIVE
$largeDesktop: 2560px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 425px;