img
{
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
}

h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    text-align: center;
}

label
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

input
{
    border: 1px solid grey;
    border-radius: 5%;
    
}

.booksList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
}
section{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: justify;
    box-shadow: 10px 5px 5px grey;
    padding: 20px;
    border-radius: 5px;
    margin: 8px 8px 8px 8px;
    
}

.idBook{
    font-style: italic;
    font-size: small;
}

.imgBook{
    width: auto;
}


.newBook, .bookshelf, .searchResult
{
    border-top: 1px solid grey;
    margin: 15px 0px 15px 0px;

}

.form
{
    border-top: 1px solid grey;
    margin: 15px 0px 15px 0px;
    display: none;
}

.btnNewBook
{
    background-color: #14aca4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: flex;
    margin: auto;  
}

.btnSearchBooks
{
    background-color: #14aca4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin: 15px 0px 15px 0px;
}
.btnCancel
{
    background-color: hsl(11, 70%, 51%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin: 15px 0px 15px 0px;
}

.viewerCanvas
{
    width: 150px;
    height: 125px;
}


/* Media queries */

@media screen and (max-width: 1440px) {
    
 }

@media screen and (max-width: 900px) {
   
 }

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 667px) {
    .iconFavorite
    {
        display: block;
        font-size: 28px;
        color: #14aca4;
        position: relative;
        bottom: 100%;
        left: 92%;
    }

    .booksList{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 5px;
    }
    section{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        text-align: justify;
        box-shadow: 10px 5px 5px grey;
        padding: 20px;
        border-radius: 5px;
        margin: 8px 8px 8px 8px;
        
    }
    
    .idBook{
        font-style: italic;
        font-size: small;
    }
    
    .imgBook{
        width: auto;
    }
       
 }
  
