img
{
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;

}

h1
{
    font-family:'Montserrat';
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

button
{
    
    background-color: #14aca4;
    color: white;
    border: 0ch;
    border-radius: 6%;
    display: flex;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}