img
{
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;

}

div
{
    border-top: 1px solid grey;
    margin-bottom: 40px;
}

h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    text-align: center;
}

button
{
    background-color: #14aca4;
    color: white;
    border: 0ch;
    border-radius: 6%;
    display: flex;
    margin: auto;
    padding: 10px 20px 10px 20px;
}
