.logo
{
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
}

h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    text-align: center;
}

/* FORM */
label
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

input[type=search] 
{
    height: 25px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 1%;
}

.booksList, .bookshelf
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
}
section{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    border-radius: 5px;
    margin: 8px 8px 8px 8px;
}

h3
{
font-family: 'Koh Santepheap', cursive;
}

.description{
    text-align: justify;
}

.idBook{
    font-style: italic;
    font-size: small;
}

img{
    display: flex;
    margin: auto;
    width:  auto;
    height: 150px;
    border-radius: 5%;
}

.newBook, .searchResult, .pochlist
{
    border-top: 1px solid grey;
    margin: 15px 0px 15px 0px;

}

.form
{
    border-top: 1px solid grey;
    margin: 15px 0px 15px 0px;
    display: none;
}



.btnNewBook, .btnSearchBooks
{
    background-color: #14aca4; ;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin: 15px 0px 15px 0px;
    width: 100%;
}
.btnCancel
{
    background-color: rgba(209, 42, 0, 0.644);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin: 15px 0px 15px 0px;
    width: 100%;
}

.iconBookmark, .iconTrash
{
    display: block;
    font-size: 28px;
    color: #14aca4; 
    position: relative;
    bottom: 20%;
    left: 92%;
}

.booksList, .bookshelf
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
}


.idBook
{
    font-style: italic;
    font-size: small;
}
    

.imgBook
{
    width: auto;
}


/* Media queries */

@media screen and (max-width: 2560px) {
    
}

@media screen and (max-width: 900px) {
   
 }

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 415px) {
    
       
}
   


